{% extends 'layout.html.twig' %}

{% block title %}Cart{% endblock %}

{% block content %}
    <main class="container-md">
        <h1>Your cart</h1>

        {% set totalPrice = 0 %}
        {% set totalPriceExclTax = 0 %}
        <div class="table-responsive-md">
            <table class="table align-middle">
                <thead>
                    <tr>
                        <th scope="col">Image</th>
                        <th scope="col">Name</th>
                        <th scope="col">Price</th>
                        <th scope="col">Total price</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {% for cartLine in cartLines|reverse %}
                        {% set product = cartLine.product %}
                        {% set totalPriceExclTax = totalPrice + product.price * cartLine.quantity %}
                        {% set totalPrice = totalPrice + product.price * 1.2 * cartLine.quantity %}
                        <tr>
                            {% set media = product.media|first %}
                            <th scope="row">
                                <img
                                    src="{{ media ? product.media|first.path }}"
                                    class="rounded-2 border"
                                    alt="{{ media and media.alt ? product.media|first.alt : product.name }}"
                                    height="150"
                                    width="150"
                                >
                            </th>
                            <td>
                                <a href="{{ path('app_product_show', {'id': product.id}) }}" class="text-decoration-none text-dark">
                                    {{ product.name }}
                                </a>
                            </td>
                            <td>${{ (product.price * 1.2)|number_format(2) }}</td>
                            <td>${{ (product.price * 1.2 * cartLine.quantity)|number_format(2) }}</td>
                            <td>
                                <form method="post" action="{{ path('app_cart_update') }}">
                                    <label>
                                        <input type="number" min="0" name="quantity_{{ cartLine.id }}" value="{{ cartLine.quantity }}" onchange="this.form.submit()">
                                    </label>
                                </form>
                            </td>
                            <td>
                                {{ include('cart/_delete_form.html.twig') }}
                            </td>
                        </tr>
                    {% else %}
                        <p>Your cart is empty</p>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <p class="text-end">Total price excl. tax: ${{ totalPriceExclTax|number_format(2) }}</p>
        <p class="text-end fw-bold">Total price: ${{ totalPrice|number_format(2) }}</p>

        <div class="d-flex justify-content-end">
            <a href="" class="btn btn-primary px-5">Order</a>
        </div>
    </main>
{% endblock %}
