{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('/css/auth.css') }}">
{% endblock %}

{% block body %}
    <main class="form-auth">
        <form method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3">
                    You are logged in as {{ app.user.email }}, <a href="{{ path('app_logout') }}">Logout</a>
                </div>
                <a href="{{ path('app_home') }}">Back to home</a>
            {% else %}
                <a href="{{ path('app_home') }}" class="text-dark text-decoration-none">
                    Company logo
                </a>
                <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

                <div class="form-floating">
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" placeholder="name@example.com" class="form-control firstInput" autocomplete="email" required autofocus>
                    <label for="inputEmail">Email address</label>
                </div>
                <div class="form-floating">
                    <input type="password" name="password" id="inputPassword" placeholder="Password" class="form-control lastInput" autocomplete="current-password" required>
                    <label for="inputPassword">Password</label>
                </div>

                {#
                Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                See https://symfony.com/doc/current/security/remember_me.html

                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" name="_remember_me"> Remember me
                    </label>
                </div>
                #}
                <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>

                <p class="my-3 text-muted">Not registered ? <a href="{{ path('app_register') }}">Sign up</a></p>
            {% endif %}

            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}"
            >
        </form>
    </main>
{% endblock %}
