{% extends 'layout.html.twig' %}

{% block title %}Administration{% endblock %}

{% block content %}
    <main class="container-md">
        <h1>Admin</h1>
        <a class="btn btn-primary mb-3" href="{{ path('app_product_new') }}">Add new product</a>

        <h3>Products</h3>
        <div class="table-responsive">
            <table class="table align-middle">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Name</th>
                        <th scope="col">Categories</th>
                        <th scope="col">Description</th>
                        <th scope="col">Price</th>
                        <th scope="col">Available</th>
                        <th scope="col">actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for product in products %}
                        <tr>
                            <td>{{ product.id }}</td>
                            <td>{{ product.name }}</td>
                            <td>{{ product.category }}</td>
                            <td class="text-break">{{ product.description }}</td>
                            <td>{{ product.price }}</td>
                            <td>{{ product.available ? 'Yes' : 'No' }}</td>
                            <td>
                                <a href="{{ path('app_product_edit', {'id': product.id}) }}">edit</a>
                                <a href="{{ path('app_product_show', {'id': product.id}) }}">show</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="8">no records found</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <h3>Users</h3>
        <div class="table-responsive">
            <table class="table align-middle">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Email</th>
                        <th scope="col">Roles</th>
                        <th scope="col">FirstName</th>
                        <th scope="col">LastName</th>
                        <th scope="col">Phone</th>
                        <th scope="col">actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                        <tr>
                            <td>{{ user.id }}</td>
                            <td>{{ user.email }}</td>
                            <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                            <td>{{ user.firstName }}</td>
                            <td>{{ user.lastName }}</td>
                            <td>{{ user.phone }}</td>
                            <td>
                                <a href="{{ path('app_user_edit', {'id': user.id}) }}">edit</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="7" class="text-center py-5">No records found</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
{% endblock %}
